

<ion-content class="cadastro-container">
  <div class="cadastro-container">
    
    <img src="assets/icon/cadastro.png"alt=>

    <ion-item class="cadastro-input">
      <ion-input placeholder="Nome"></ion-input>
    </ion-item>

    <ion-item class="cadastro-input">
      <ion-input placeholder="Email"></ion-input>
    </ion-item>

    <ion-item class="cadastro-input">
      <ion-input placeholder="Senha"></ion-input>
    </ion-item>

    <ion-item class="cadastro-input">
      <ion-input placeholder="Cofirmar Senha"></ion-input>
    </ion-item>
    <ion-button expand="block" class="cadastro-button">Cadastrar-se</ion-button>
    
    <p class="forgot-password" ><a href="login">Já tem uma conta? Faça login</a></p>
  </div>
  

  
  

</ion-content>
