.chekout-content {
  --background: #12071f;
  padding: 16px;
}

/* Header */
.top-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;

  ion-icon {
    color: white;
    font-size: 22px;
  }

  h2 {
    color: white;
    font-size: 18px;
  }
}

/* Sections */
.section {
  margin-bottom: 25px;

  h3 {
    color: white;
    margin-bottom: 15px;
  }
}

/* Box (Shipping & Payment) */
.box {
  display: flex;
  align-items: center;
  background: #1e0d2f;
  padding: 12px;
  border-radius: 12px;
  gap: 12px;
}

.icon-box {
  width: 45px;
  height: 45px;
  background: #2a1240;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

  ion-icon {
    color: white;
    font-size: 20px;
  }
}

.info {
  flex: 1;

  h4 {
    color: white;
    margin: 0;
  }

  p {
    color: #c084fc;
    font-size: 13px;
  }
}

.arrow {
  color: #a855f7;
}

/* Order Summary */
.linha {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #c084fc;
}

.total {
  color: white;
  font-weight: bold;
  margin-top: 10px;
}

/* Footer */
.footer-btn {
  --background: #1e0d2f;
  padding: 10px;
}

.btn-finalizar {
  --background: linear-gradient(90deg, #9333ea, #7e22ce);
  border-radius: 10px;
}
