<ion-content class="login-content">
  <div class="login-container">

    <img src="assets/icon/login.png" alt="Logo" class="login-logo">

    <ion-item class="login-input" lines="none">
      <ion-input placeholder="Email"></ion-input>
    </ion-item>

    <ion-item class="login-input" lines="none">
      <ion-input type="password" placeholder="Password"></ion-input>
    </ion-item>

    <ion-button expand="block" class="login-button">
      Login
    </ion-button>

    <p class="forgot-password">
      Esqueceu sua senha? <span class="link">Clique aqui</span>
    </p>

  </div>
</ion-content>