.inicio-content {
  --background: #12071f;
  padding: 16px;
}

/* Topo */
.top-bar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;

  ion-icon {
    color: white;
    font-size: 22px;
  }
}

/* Pesquisa */
.search-box {
  display: flex;
  align-items: center;
  background: #2a1240;
  padding: 10px 12px;
  border-radius: 10px;
  margin-bottom: 25px;

  ion-icon {
    color: #a855f7;
    margin-right: 8px;
  }

  input {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    width: 100%;
  }
}

/* Seções */
.section {
  margin-bottom: 25px;

  h2 {
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
  }
}

/* Categorias */
.categorias {
  display: flex;
  gap: 10px;
  overflow-x: auto;

  ion-chip {
    --background: #2a1240;
    --color: white;
  }
}

/* Novidades */
.novidade-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e0d2f;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 15px;

  img {
    width: 90px;
    height: 70px;
    object-fit: cover;
    border-radius: 8px;
  }
}

.info {
  display: flex;
  flex-direction: column;

  .novo {
    color: #a855f7;
    font-size: 12px;
  }

  h3 {
    color: white;
    font-size: 14px;
    margin: 4px 0;
  }

  p {
    color: #c084fc;
    font-size: 13px;
  }
}

/* Bottom Nav */
.bottom-nav {
  --background: #1e0d2f;
  display: flex;
  justify-content: space-around;

  ion-icon {
    color: white;
    font-size: 22px;
  }
}
